<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height:75px;">
  <div>
    <h2><i class="fa fa-wordpress" aria-hidden="true"></i>&nbsp;&nbsp;White Board</h2>
  </div>
  <div class="ml-auto">
    <a routerLink="/register" style="color:white"  class="btn btn-lg btn-dark margin"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Register</a>
    <a routerLink="/home" class="btn btn-lg btn-dark margin" style="color:white"><i class="fa fa-home" aria-hidden="true"></i> &nbsp;Home</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class='col-md-3'></div>
    <div class="col-md-6"><div></div>
      <div class="card">
        <p>&nbsp;</p>
        <h2 class="loginHeader"> Login </h2>
        <div >
          <label for="username" class="fields">Username</label>
          <input id="username"
                 [(ngModel)]="username"
                 placeholder="Username"
                 class="form-control form-control-lg" />
        </div>
        <div>
          <label for="password" class="fields">Password</label>
          <input id="password"
                 [(ngModel)]="password"
                 placeholder="Password"
                 class="form-control form-control-lg"
                 type="password"/>
        </div>
        <p></p>
        <div>
          <button
            (click)="login(username, password)"
            class="btn btn-lg btn-dark btn-block">
            <i class="fa fa-user"></i>
            Login
          </button>
        </div>
        <div>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
    <div class='col-md-3'></div>
  </div>
</div>
